<div class="card mb-3">
  <div class="card-header">
    <div class="far fa-check-square"></div>
    <%= link_to lesson.title, course_lesson_path(@course, lesson) %>
  </div>
  <% if policy(lesson).show? %>
    <div class="card-body">
      <%= lesson.content %>
      <br/>
      <%= lesson.course %>
    </div>
  <% end %>
  <% if policy(lesson).edit? || policy(lesson).destroy? %>
    <div class="card-footer">
      <%= link_to "Edit", edit_course_lesson_path(@course, lesson), class: "btn btn-warning"  %>
      <%= link_to "Destroy", [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
