<div class="card">
  <div class="card-header">
    <div class="fa fa-graduation-cap"></div>
    <%= link_to course.title, course_path(course) %>
  </div>
  <div class="card-body">
    <%= course.short_description %>
  </div>
  <div class="card-footer">
    <div class="fa fa-tasks"> <%= course.lessons.count %></div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-6">
        <i class="fa-solid fa-earth-africa"></i>
        <%= course.language %>
      </div>
      <div class="col-6">
        <div class="fa fa-signal"></div>
        <%= course.level %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="text-center">
      <%#= number_to_currency(course.price)%>
      <%= enrollment_button(course) %>
    </div>
  </div>
  <div class="card-footer">
    <div class="far fa-clock"></div>
    <%= course.created_at.strftime('%d-%b-%Y') %>
    <div class="row"></div>
    <div class="fa fa-chalkboard-teacher"></div>
    <%=link_to course.user.username, user_path(course.user) %>
  </div>
  <div class="card-footer">
    <% if current_user %>
      <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning' if policy(course).edit? %>
      <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' if policy(course).destroy? %>
    <% end %>
  </div>
</div>
