<p id="notice"><%= notice %></p>
<h3>
  <div class="text-center">
    <%= action_name.humanize %> Courses
    <div class="badge badge-info">
      <%= @courses.count %>
    </div>
  </div>
</h3>
<div class="row mt-3">
  <div class="col-md-2">
    <%= search_form_for @ransack_courses, url: @ransack_path do |f| %>
      <%= f.label :title %>
      <%= f.search_field :title_cont, placeholder: 'Title', class: "form-control-sm" %>
      <%= f.label :description %>
      <%= f.search_field :short_description_cont, placeholder: 'Short Description', class: "form-control-sm" %>
      <%= f.label :language %>
      <%= f.select :language_cont, Course.languages, include_blank: true, class: "form-control-sm"  %>
      <%= f.label :level %>
      <%= f.select :level_cont, Course.levels, include_blank: true, class: "form-control-sm"  %>
      <%= f.label :price %>
      <%= f.search_field :price_eq, placeholder: 'Price', class: "form-control-sm" %>
      <%= f.label :teacher %>
      <%= f.search_field :user_email_cont, placeholder: 'User Email', class: "form-control-sm" %>
      <div class="row"></div>
      <%= sort_link(@ransack_courses, :price) %>
      <div class="row"></div>
      <%= sort_link(@ransack_courses, :average_rating, "Top Rated") %>
      <div class="row"></div>
      <%= sort_link(@ransack_courses, :enrollments_count, "Most Popular") %>
      <div class="row"></div>
      <%= sort_link(@ransack_courses, :created_at, "Recent") %>
      <div class="row"></div>

      <%= f.submit %>
    <% end %>
    <%= link_to @ransack_path, class: "btn btn-sm btn-secondary" do %>
      <i class="fa-solid fa-rotate"></i>
    <% end %>
  </div>
  <div class="col-md-8">
    <div class="card-columns">
      <% @courses.each do |course| %>
        <%= render 'courses/course', course: course %>
      <% end %>
    </div>
    <div class="mb-4">
      <%== pagy_bootstrap_nav(@pagy) %>
      <%== pagy_bootstrap_nav_js(@pagy) %>
    </div>
  </div>
</div>
